<div class="display-words" data-pjax-container>
  <h2>The most common words in <%= @language.name %> (<%= @first_word_number %> - <%= @last_word_number %>)</h2>
  
  <p>Currently on page <%= @page + 1 %></p>

  <div class="words-container">
    <ol class="word-list" start="<%= @first_word_number %>">
      <% @words.each do |word| %>
        <li>
          <span data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="<%= raw(word.translation) %>"><%= word.word %></span>
        </li>
      <% end %>
    </ol>
  </div>
  <% if @page > 0 %>
    <a class="previous-link" href="<%= "/languages/#{@language.id}?page=#{@page - 1}&per_page=#{@per_page}" %>" data-pjax>Previous page</a>
  <% end %>
  <% if @page * @per_page + @per_page < 1000 %>
    <a class="next-link" href="<%= "/languages/#{@language.id}?page=#{@page + 1}&per_page=#{@per_page}" %>" data-pjax>Next page</a>
  <% end %>
</div>