<!DOCTYPE html>
<html>
<head>
  <title>Language 80/20</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>

<body>
  <%= render "layouts/header" %>
  <div class="container">
  <%= yield %>
  <%= javascript_include_tag 'application' %>

  <script type="text/javascript">
      $(function () {
          $('body').popover({
              selector: '[data-toggle="popover"]'
          });

          $('body').tooltip({
              selector: 'a[rel="tooltip"], [data-toggle="tooltip"]'
          });
      });
  </script>
  </div>
</body>
</html>