<!DOCTYPE html>
<html>
<head>
  <title>Language 80/20</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<%= render "layouts/header" %>
<%= yield %>
<%= javascript_include_tag 'application' %>
</body>
</html>